header {
    padding: 10px 16px;
    background: #f1f1f1;
    color: #000000;
}
table{
    width: 100%;
}
article {
    overflow:inherit;
    position: absolute;
    width: 35%;
    right: 15%;
}
aside {
    overflow:inherit;
    position: absolute;
    width: 10%;
    left: auto;
    height: 50%;
    position: fixed;
}
body {
    background-color: #555;
    min-width: 300px;
    margin: 0 auto;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f1f1f1;
    color:#000000;
    text-align: center;
    position: fixed;
    
}
li {
    padding: 5px 5px;
}
.url {
    color:white;
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    max-width: 100px;
}
h1  {
color:rgb(0, 0, 0);
text-align: center;
}

.contendor{
    border: dotted;
    width: 200px;
    background-color: white;
    margin-bottom: 10px;
}
 
.elements{
    width: 80%;
    min-width: 140px;
    border-style: dashed;
    background-color: rgb(255, 196, 247);
    color: #555;
    text-align: center;
    text-shadow: 0 0 3px #2600ff;
}
.foot{
    color:white;
    text-align: center;
    padding: 5px 10px;
    background-color: black;
}
.titulo{
    background-color: black;
    color:#f1f1f1;
}
